* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: 'PokemonOutlined';
  src: url('../assets/fonts/Pokemon.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.header-container {
  display: flex;
  justify-content:center;
}

.poketrunfo-title {
  font-family: 'PokemonOutlined', sans-serif;
  font-size: 50px;

  color: #ffcb05;
  text-shadow:
  -3px -3px 0 #2D6CB6,
  3px -3px 0 #2D6CB6,
  -3px 3px 0 #2D6CB6,
  3px 3px 0 #2D6CB6;

}


@font-face {
  font-family: 'PokemonOutlined';
  src: url('./assets/fonts/PokemonOutlined.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.pokemon-text {
 
}